.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .start {
        width: 50%;
        height: 80px;
        border-radius: 8px;
    }

    .start-quiz {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
